body{
	background-color: #632432;
	font-family: Arial;
}

#main-container{
	margin: 50px auto;
	width: 600px;
}

table{
	background-color: rgb(37, 35, 35);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th{
	padding: 20px;
}
td{
    padding: 20px;
}

thead{
	background-color: #610000;
	border-bottom: solid 5px rgb(0, 0, 0);
	color: white;
}

tr:nth-child(even){
	background-color: rgb(0, 0, 0);
}

tr:hover td{
	background-color: #a03838;
	color: white;
}

