{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inicio de Sesion | AGT</title>
    <link rel="shortcut icon" href="/static/usuarioSecretaria/img/guias1.png"/>
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/master.css">
    <script src="/static/usuarioSecretaria/JavaScrips/Validar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div class="login-box">
    <img class="avatar" src="/static/usuarioSecretaria/img/guias11.png" alt="Fondo">
    <h1>Login</h1>
    {#            <form action="templates/usuarioSecretaria/Asignar.html" method="POST" class="form login" onsubmit="return Validar();">#}
    <form method="post">
        {% csrf_token %}
        <div id="formlogin">
            <label for="username">Usuario</label>
            {#                <input type="text" id="nombre" name="username" placeholder="Ingrese Usuario">#}
            <input type="text" name="username" class="form-control" placeholder="Usuario"
                   aria-label="Recipient's username"
                   required>

            <label for="password">Contraseña</label>
            {#                <input type="password" id="clave" name="password" placeholder="Ingrese Contrasena">#}
            <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña"
                   aria-label="Recipient's password" required>
        </div>
        <div id="cap">
            <h5>Seleccione la respuesta para la siguiente combinacion</h5>
        <img class="question" src="/static/usuarioSecretaria/img/Pregunta1.jpg" alt="pregunta">
        <br><br>
        <input type="radio" id="respuesta1" name="opc" value="1">
        <label for="respuesta1">
            <img class="answer1" src="/static/usuarioSecretaria/img/Respuesta1.jpg" alt="R1">
        </label>
        <input type="radio" id="respuesta2" name="opc" value="2">
        <label for="respuesta2">
            <img class="answer2" src="/static/usuarioSecretaria/img/Respuesta2.jpg" alt="R2"></label>
        <input type="radio" id="respuesta3" name="opc" value="3">
        <label for="respuesta3">
            <img class="answer3" src="/static/usuarioSecretaria/img/Respuesta3.jpg" alt="R3"></label>
        </div>

        <input id="log" type="submit" value="Ingresar">

    </form>

</div>

</body>
<script>

    $(document).ready(function () {
        $("#formlogin").hide();
        $("#log").hide();
        $("input[name=opc]").click(function () {
            if (($(this).val()) == 1){
                $("#formlogin").show();
                $("#log").show();
                $("#cap").hide();
            }
        })
    })

</script>
</html>