#bannerRegistrar .form{

    text-align: center;
}
#bannerRegistrar {
    margin-top: 50px;
    position: relative;
}

#bannerRegistrar img {
    width: 100%;
    height: 50%;
}

#bannerRegistrar .contenedor {
   
    width: 50%;
    height: 75%;
    background: #000;
    color: #fff;
    top: -50%;
    left: 25%;
    position: relative;
    transform: translate(-50%, -120%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}

#bannerRegistrar h2 {
    margin-top: 10px;
    font-size: 40px;
    
}

#bannerRegistrar a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#bannerRegistrar a:hover {
    background: rgba(51, 51, 51, 0.5);
}

#bannerRegistrar .contenedor label{
    
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 20px;
    
}

#bannerRegistrar .contenedor input {

    width: 100%;
    max-width: 500px;
    border: none;
    height: 22px;
    text-align: center;
    outline: none;
    
    color: #000;
    font-size: 16px;
}

#bannerRegistrar .contenedor input[type="submit"] {

    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}