#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 50%;
}

#banner .contenedor {
    /*position: absolute;*/
    /*top: 34%;*/
    /*left: 50%;*/
    /*transform: translateX(-50%) translateY(-50%);*/
    background-image: url('/static/usuarioSecretaria/img/macarenanoche.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#banner h2 {
    margin-top: 40px;
    font-size: 40px;
    
}

#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    margin-top: 0px;
    border: none;
}

#banner a:hover {
    background: rgba(51, 51, 51, 0.5);
}