#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 50%;
}

#banner .contenedor {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2 {
    margin-top: 40px;
    font-size: 40px;
    
}

#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(51, 51, 51, 0.5);
}