#blog h3, h4 {
    text-align: center;
    font-size: 15px;
}

#blog .contenedor {
    top: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 180px;
}

#blog a{
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 180px;
    
}

