@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url(menu1.css);
@import url(banner1.css);
@import url(blog1.css);
@import url(bannerRegistrar1.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    /*top: 0;*/
    /*width: 98%;*/
    /*margin: auto;*/
}

h1 {

    float: left;
}

header .contenedor{

    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

#button_agg{
    position: relative;
    alignment: right;
}