body {
    margin: 0; /*MARGEN*/
    padding: 0; /*RELLENO*/
    background: url(../img/FondoSecretariaLogin.jpg) no-repeat center top; /**/
    background-size: cover; /**/
    font-family: sans-serif; /**/
    height: 100vh; /**/
    
}
.login-box .question{
    width: 60%; /**/
    height: 60%; /**/
    border-radius: 20%;
    position: relative; /**/
    
    left: calc(50% - 80px);
    
}
.login-box .answer1{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    position: relative;
    
    left: calc(50% - 120px);
    
}
.login-box .answer2{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    position: relative;
    top: -66px;
    left: calc(50% - 30px);
    
}
.login-box .answer3{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    position: relative;
    top: -132px;
    left: calc(50% + 60px);
    
}


.login-box{
    width: 320px;
    height: 620px;
    background: rgba(123, 123, 123, 0.74);
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); /**/
    box-sizing: border-box; /**/
    padding: 70px 30px;

}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

.login-box h1{

    margin: 0;
    padding: 0 0 20px;
    text-align: center;

}
.login-box h5{
    text-align: center;
}

.login-box label{

    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 22px;
}
.login-box input {

    width: 100%;
    margin-bottom: 20px; 
}

.login-box input[type="text"],
.login-box input[type="password"] {

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none; /**/
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    position: absolute;
    top: 90%;
    width: 81%;
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a{

    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover{

    color: #fff;
}
#respuesta1 {
    display: none;
}
#respuesta2 {
    display: none;
}
#respuesta3 {
    display: none;
}