{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Asociacion de Guias Turisticos</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimun-scale=1">
    <link rel="shortcut icon" href="/static/usuarioSecretaria/img/guias1.png"/>
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/guia1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/fontello1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/Estilos1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/Tabla1.css">
</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-child">Asociacion de Guias Turisticos</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">
            <a href="{% url 'asignar-list' %}">Asignar</a>
            <a href="#">Guias Disponibles</a>
            <a href="{% url 'registrar-create' %}">Registrar nuevo guia</a>
{#            <a href="Actualizar.html">Actualizar informacion de un guia</a>#}
{#            <a href="Pago.html">Pagos</a>#}
            <a href="../registration/login.html">Cerrar Sesion</a>


        </nav>
    </div>
</header>

<main>
    <section id="banner">
{#        <img src="img/macarenanoche.png">#}
        <div class="contenedor">
            <br><br><br>
            <h2>&nbspGuias Disponibles</h2>
            <section id="blog">

                <div id="main-container">

                    <table>
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>TP</th>
                            <th>Celular</th>
                            <th>Direccion</th>
                        </tr>
                        </thead>

                        {% for  person in person_list %}
                            <tr>
{#                                <td>#}
{#                                    <a#}
{#                                            href="{% url 'actualizar-update' person.pk %}"#}
{#                                    >#}
{#                                        {{ person.id}}#}
{#                                    </a>#}
{#                                </td>#}
                                <td>
                                    <a
                                            href="{% url 'actualizarA-update' person.pk %}"
                                    >{{ person.user.first_name }}</a>
                                </td>
                                <td>{{ person.user.last_name }}</td>
                                <td>{{ person.identification_card }}</td>
                                <td>{{ person.adress}}</td>
                                <td>{{ person.phone }}</td>
                                <td>{{ person.professional_card }}</td>
                            </tr>
                        {% endfor %}
{#                        <tr>#}
{#                            <td><a href="ActualizarB.html">BYRON STEWAR</a></td>#}
{#                            <td>CUBIDES ROMERO</td>#}
{#                            <td>1121913825</td>#}
{#                            <td>1964</td>#}
{#                            <td>3115505891</td>#}
{#                            <td>PENDIENTE</td>#}
{#                        </tr>#}

                    </table>
                </div>
            </section>

        </div>
    </section>


</main>
</body>
</html>