<!DOCTYPE html>
<html>
<head>
    <title>Asociacion de Guias Turisticos</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimun-scale=1">
    <link rel="shortcut icon" href="/static/usuarioSecretaria/img/guias1.png"/>
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/guia1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/fontello1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/Estilos1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/Tabla1.css">
    <script src="JavaScrips/ValidarCamposR.js"></script>

</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-child">Asociacion de Guias Turisticos</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">

            <a href="{% url 'asignar-list' %}">Asignar</a>
            <a href="{% url 'persons-list' %}">Guias Disponibles</a>
            <a href="{% url 'registrar-create' %}">Registrar nuevo guia</a>
            <a href="/logout/">Cerrar Sesion</a>
        </nav>
    </div>
</header>

<main>
    <section id="bannerRegistrar">
        <img src="/static/usuarioSecretaria/img/macarenanoche.png">
        <div class="contenedor">


            <form method="post"  class="form Registrar" >
                {% csrf_token %}
                <h2>&nbsp;&nbsp;Actualizar informacion de guia</h2>
                <br><br>
                {% if not sin_name %}
                <label for="first_name">Nombre:</label>
                <input type="text" name="first_name"  id="first_name" value="{{ nombre }}">
                <label for="last_name">Apellidos:</label>
                <input type="text" name="last_name"  id="last_name" value="{{ apellido }}">
                {% endif %}
                {{ form }}
                <br><br>


                <input type="submit" value="Actualizar">

            </form>


        </div>
    </section>

</main>
</body>
</html>