{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Asociacion de Guias Turisticos</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1 , minimun-scale=1">
    <link rel="shortcut icon" href="/static/usuarioSecretaria/img/guias1.png"/>
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/guia1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/fontello1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/Estilos1.css">
    <link rel="stylesheet" href="/static/usuarioSecretaria/CSS/Tabla1.css">
</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-child">Asociacion de Guias Turisticos</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">
            <a href="{% url 'asignar-list' %}">Asignar</a>
            <a href="{% url 'persons-list' %}">Guias Disponibles</a>
            <a href="{% url 'registrar-create' %}">Registrar nuevo guia</a>
{#            <a href="{% url 'actualizar-list' %}">Actualizar informacion de un guia</a>#}
{#            <a href="Pago.html">Pagos</a>#}
            <a href="/logout/">Cerrar Sesion</a>
        </nav>
    </div>
</header>

<main>
    <section id="banner">
        <div class="contenedor">
            <h2>Asignar Tour</h2>

            <section id="blog">
                <a href="/asignarA/">Agregar agenda <img src="/static/usuarioSecretaria/img/add.png" style="height: 25px; width: 25px"></a>
                <div id="main-container">
                    <table>
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Contacto</th>
                            <th>Empresa</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Disponible para pago</th>
                            <th>Pagada</th>
                        </tr>
                        </thead>
                        {% for schedule in schedule_list %}
                            <tr>
                                <td>
                                    <a
                                            href="{% url 'actualizar-agenda' schedule.pk %}"
                                    >{{ schedule.person.user.first_name }}</a>
                                </td>
                                <td>{{ schedule.person.user.last_name }}</td>
                                <td>{{ schedule.person.phone }}</td>
                                <td>{{ schedule.operating_agency.business_name }}</td>
                                <td>{{ schedule.start_date }}</td>
                                <td>{{ schedule.ending_date }}</td>
                                <td>{% if schedule.payment_dispo %}SI{% else %}NO{% endif %}</td>
                                <td>{% if schedule.payment %}SI{% else %}NO{% endif %}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </section>

        </div>
    </section>


</main>
</body>
</html>