<!DOCTYPE html>
<html>
<head>
    <title>Asociacion de Guias Turisticos</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimun-scale=1">
    <link rel="shortcut icon" href="/static/usuarioGuia/img/guias1.png"/>
    <link rel="stylesheet" href="/static/usuarioGuia/css/guia.css">
    <link rel="stylesheet" href="/static/usuarioGuia/css/fontello.css">
    <link rel="stylesheet" href="/static/usuarioGuia/css/Estilos.css">
    <link rel="stylesheet" href="/static/usuarioGuia/css/Tabla.css">
</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-child">Asociacion de Guias Turisticos</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">

            <a href="/index-guia/">Agenda</a>
            <a href="#">Pagos</a>
            <a href="/logout/">Cerrar Sesion</a>


        </nav>
    </div>
</header>

<main>
    <section id="banner">
        <img src="/static/usuarioGuia/img/FondoInicioGuia.jpg">
        <div class="contenedor">
            <br><br><br><br>
            <h2>&nbsp;&nbsp;Pagos</h2>
            <section id="blog">

                <div id="main-container">

                    <table>
                        <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Pago Disponible</th>
                            <th>Cobrado</th>
                        </tr>
                        </thead>
                        {% for a in object_list %}
                            <tr>
                                <td>{{ a.operating_agency.business_name }}</td>
                                <td>{{a.start_date}}</td>
                                <td>{{a.ending_date}}</td>
                                <td>{% if a.payment_dispo %}SI{% else %}NO{% endif %}</td>
                                <td>{% if a.payment %}SI{% else %}NO{% endif %}</td>
                                \

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>

        </div>
    </section>


</main>
</body>
</html>